:host
    display: flex
    flex-direction: column
    height: 100%
    .form
        display: flex
        flex-direction: column
        flex: 1 1 auto
        overflow-y: scroll
        gap: 20px
        padding: 15px
        &::-webkit-scrollbar
            display: none
        .section
            display: flex
            flex-direction: column
            .header
                display: flex
                gap: 15px
                align-items: center
                padding-bottom: 5px
                margin-bottom: 10px
                border-bottom: 1px solid #90a4ae
                .text
                    flex: 1 1 auto
            .content
                display: flex
                flex-direction: column
                gap: 15px
                .options
                    display: flex
                    justify-content: center
                    gap: 20px
                    .option
                        display: flex
                        flex-direction: column
                        gap: 7px
                        align-items: center
                        margin: 0px 15px
                        padding: 10px 0px
                        border-bottom: 2px solid transparent
                        cursor: pointer
                        color: #6a6a6a
                        font-size: 12px
                        transition: all 0.3s ease-in-out
                        i
                            font-size: 24px
                        &:hover
                            color: #000000
                            border-bottom-color: #6a6a6a
                        &.selected
                            color: #000000
                            border-bottom-color: #6a6a6a
                &.date-time
                    flex-direction: row
                    justify-content: space-around
                    gap: 25px
                    .date-picker
                        width: 230px
    .actions
        display: flex
        justify-content: space-between
        flex: 0 0 40px
        .button
            cursor: pointer
            display: flex
            align-items: center
            background: #eaeaea
            padding: 5px 15px
            transition: background 0.3s ease-in-out
            &:hover
                background: #d1d1d1
            &.disabled
                cursor: default
                color: grey
                &:hover
                    background: #eaeaea
            i
                margin-right: 7px