<mat-tab-group [animationDuration]="0" [dynamicHeight]="false">
    <mat-tab label="Login">
        <auth-login></auth-login>
    </mat-tab>
    <mat-tab label="Signup">
        <auth-signup></auth-signup>
    </mat-tab>
</mat-tab-group>

<!-- <div (click)="signInWithFB()">Sign In with Facebook</div>
<div (click)="signOut()">Sign Out with Facebook</div> -->

<div id="g_id_onload"
     data-client_id="207565519829-sd3veuf2jo8p1uchecm4qk36fq8p59sg.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>