<div class="search-form">
    <div><input type="text" [(ngModel)]="query"/></div>
    <button (click)="search(query)">Search</button>
</div>

<div class="results" *ngIf="!place">
    <div class="result" *ngFor="let place of places" (click)="select(place)">
        <div class="icon">
            <i class="fa-solid fa-{{ place.icon }}"></i>
        </div>
        <div class="description">
            <div class="name">{{ place.name }}</div>
            <div class="address">{{ place.formattedAddress }}</div>
        </div>
    </div>
</div>

<div class="result" *ngIf="place">
    <div class="icon">
        <i class="fa-solid fa-{{ place.icon }}"></i>
    </div>
    <div class="description">
        <div class="name">{{ place.name }}</div>
        <div class="address">{{ place.formattedAddress }}</div>
    </div>
</div>



